#form-sent {
    margin: 20px;
}

.container {
    margin-top: 10px;
}

.paragraph-contact {
    text-align: justify;
}

.text-sent {
    font-weight: 600;
}

.button-back {
    display: block;
    width: 70px;
    background-color: var(--neutral-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
}