body {
    height: 600px;
}

#about {
    margin: 20px;
}

.paragraph {
    text-align: justify;
}

.paragraph-position {
    margin-top: 10px;
}

.text-about {
    font-weight: 600;
}

.subtitle-about {
    color: var(--secundary-color);
}