:root{
    --primary-color: #363636;
    --secundary-color: #00BFFF;
    --neutral-color: #FFFFFF; 
    --neutral-color2: #CCCCCC; 
    --danger-color: #FF4500; 
    --link-color: #FFA500;
    --success-color: #00CD00;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 900px;
}

header {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: var(--primary-color);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: var(--neutral-color);
}

nav a:hover {
    font-size: 18px;
    text-decoration: none;
    color: var(--link-color);
}

.title-page {
    color: var(--secundary-color);
    text-align: center;
}

.title-home {
    position: relative;
}

#presentation {
    margin: 20px;
}

.paragraph-home {
    text-align: justify;
    line-height: 1.2;
}

#comparative-table {
    margin: 20px;
}

.title-table {
    text-align: center;
    color: var(--secundary-color);
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    overflow: auto; 
}

.product-table th, .product-table td {
    padding: 10px;
    text-align: center;
    border: 1px solid var(--secundary-color);
    white-space: nowrap;
    font-size: 17px;
}

.product-table th {
    background-color: var(--secundary-color);
    color: var(--neutral-color);
}

.product-table td {
    background-color: var(--neutral-color);
    color: var(--primary-color);
}

.product-table img {
    max-width: 70px;
    max-height: 70px;
}

.product-table tr:nth-child(even) {
    background-color: var(--neutral-color);
}

footer {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
