:root{
    --primary-color: #363636;
    --secundary-color: #00BFFF;
    --neutral-color: #FFFFFF; 
    --link-color: #FFA500;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    text-align: center;
    padding: 20px;
}

nav ul {
    background-color: var(--primary-color);
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: var(--neutral-color);
}

nav a:hover {
    font-size: 18px;
    text-decoration: none;
    color: var(--link-color);
}

.title-page {
    color: var(--secundary-color);
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    color: var(--neutral-color);
    text-align: center;
    padding: 2px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
